#centered {
	width: 1000px;
	margin: 0 auto;
	height: 40px;
}

body {
	/* background-color: #f4e1d2; */
	background-color:#e0b868;
}

.bars {
	border: 1px black solid;

}

#top-bar{
	width : 750px;
	height: 100px;
	float:left;
	/* background-color: #a2b9bc; */
	background-color: #906008;
	font-weight: bold;
	font-family: 'Anton', sans-serif;

}

.txt {
	text-align: center;
	font-weight: bold;

}

#txt1{
	font-size: 40px;
	text-align: center;
	position: relative;
	left: 250px;
}

#arrow1 {
	width: 30px;
	height: 30px;
	margin-left: 700px;
	margin-top: -49px;

}

ul {
  list-style-type: none;
  margin-top: 40px;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


#project-title {
	float : left;
	width : 242px;
	height: 100px;
	font-size: 40px;
	font-weight: bold;
	font-family: cursive;
	/* background-color: #a2b9bc; */
	background-color: #906008;
	font-family: 'Anton', sans-serif;
	text-align:center;
}

.clear {
	clear:both;
}

#vid{
	float: left;
	width:600px;
	margin-top: 40px;
	height: 400px;
	margin-left: 200px;
	font-family: 'Lobster', cursive;
}

.side-by-side {
	float: left;
}

#actors {
	margin-top: 40px;
	width: 1000px;
	height: 100px;
	/* background-color: #a2b9bc; */
	background-color: #906008;
	font-family: 'Anton', sans-serif;
}

#txt2{
	font-size: 40px;
	text-align: center;
	position: relative;
	left: 400px;
	top: 30px;
}

#actors-info{
		font-weight: bold;
		text-align: center;
		font-size: 20px;
		font-family: cursive;

}

.circles{
	border: 1px black solid;
	width: 170px;
	height: 170px;
	border-radius: 50%;

}


#description{
	width: 1000px;
	height: 140px;
	margin-top: 40px;

}

#para {
	text-align: center;
	line-height:1.6;
	font-weight:bold;

}

#img1{
	float: left;
	width: 480px;
	height: 450px;
	margin-top: 40px;
	margin-left: 65px;
}

#img2{
	float: left;
	width: 480px;
	height: 500px;
	margin-top: 40px;
	margin-left: 65px;
}

#img3{
	float: left;
	width: 480px;
	height: 500px;
	margin-top: 40px;
	margin-left: 65px;
}

#img4{
	float: left;
	width: 480px;
	height: 500px;
	margin-top: 40px;
	margin-left: 65px;
}

#profile{
	margin-top: 40px;
	/* float: left; */
	margin-left: 70px;
	padding:50px;
	line-height: 3.2;
	font-style: italic;
	font-weight:bold;
}

#profile2{
	margin-top: 40px;
	/* float: left; */
	margin-left: 70px;
	line-height:4;
	font-style: italic;
	font-weight:bold;

}

#profile3{
	margin-top: 40px;
	/* float: left; */
	margin-left: 70px;
	line-height:4;
	font-style: italic;
	font-weight:bold;


}

#profile4{
	margin-top: 40px;
	/* float: left; */
	margin-left: 70px;
	line-height:4;
	font-style: italic;
	font-weight:bold;

}

#users-input{
	width: 410px;
	height: 80px;
	text-align: center;
	/* background-color: #a2b9bc; */
	background-color: #906008;
	font-family: 'Anton', sans-serif;
	font-size:30pt;
	font-weight:bold;
}

#user-1-input {
	width: 410px;
	height: 250px;
	text-align: center;

}

#comment{
	width: 510px;
	height: 80px;
	text-align: center;
	margin-left: 35px;
	/* background-color: #a2b9bc; */
	background-color: #906008;
	font-family: 'Anton', sans-serif;
	font-size:30pt;
	line-height:1.6;
	font-weight:bold;

}

#comment-1 {
	width: 510px;
	height: 300px;
	text-align: center;
	margin-left: 35px;
	background-color:#c89848;
	line-height: 3.5;
	font-weight:bold;



}

#vid-part {
	width: 380px;
	height: 80px;
	text-align: center;
	margin-left: 30px;
}

#vid-part-1{
	width: 380px;
	height: 200px;
	text-align: center;
	margin-left: 30px;

}

#upload {
	width: 380px;
	height: 80px;
	text-align: center;
	margin-left: 30px;
	margin-top: 50px;

}

#upload-1{
	width: 380px;
	height: 200px;
	text-align: center;
	margin-left: 30px;

}

#info {
	margin-top: 50px;
	width: 380px;
	height: 108px;
	background-color:#c89848;
	line-height:3;
	font-weight:bold;
}

#arrow6{
	width:30px;
	height: 30px;
}

#vid-1{
	width: 407px;
	height: 120px;

}

#vid-2{
	width: 200px;
	height: 120px;

}

#vid-3 {
	width: 197px;
	height: 120px;

}

#lastpage{
	margin-top: 60px;
}

#name1{
	font-size: 30px;
	text-decoration: underline;
	font-family: 'Lobster', cursive;
}

#name2{
	font-size: 30px;
	text-decoration: underline;
	font-family: 'Lobster', cursive;

}

#name3{
	font-size: 30px;
	text-decoration: underline;
	font-family: 'Lobster', cursive;
}

#name4{
	font-size: 30px;
	text-decoration: underline;
	font-family: 'Lobster', cursive;
}

.thespan{
	/* display: inline-block; */
	width:500px;
	height:500px;

}

.video{
	font-family: 'Lobster', cursive;
}

.thecolors{
	background-color: #785008;
}
